<div class="container">
  <div class = "submit-cocktail">

    <h3 class = "text-center">Add a new cocktail</h3>
      <%= simple_form_for @cocktail do |f| %>
          <%= f.input :name %>
          <%= f.submit "Create cocktail", class: "btn btn-primary" %>
        <% end %>
  </div>
</div>
